/* Fonts */
/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/nunito-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Nunito Regular'), local('Nunito-Regular'),
    url('/fonts/nunito-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/nunito-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/nunito-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/nunito-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/nunito-v14-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}

/* Transitions */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.css-trans-bgcolor {
  transition: background-color cubic-bezier(0.445, 0.05, 0.55, 0.95) .2s;
}

.css-trans-color {
  transition: color cubic-bezier(0.445, 0.05, 0.55, 0.95) .2s;
}

/* Links */
.hover\:aniline-green-dark,
.hover\:aniline-white {
  position: relative;
}

.hover\:aniline-green-dark::after,
.hover\:aniline-white::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0.125rem;
  transition: width .3s;
}

.hover\:aniline-green-dark:hover::after,
.hover\:aniline-white:hover::after {
  width: 100%;
}

.hover\:aniline-green-dark::after {
  background: #336600;
}

.hover\:aniline-white::after {
  background: #fff;
}

/* Form Inputs */
.css-input-text {
  @apply bg-green-darker;
  @apply border-2;
  @apply border-white;
  @apply font-nunito;
  @apply rounded;
  @apply tracking-wider;
  @apply text-white;
  @apply outline-none;
  @apply px-2;
  @apply py-1;
  @apply text-white;
  transition: border-color cubic-bezier(0.445, 0.05, 0.55, 0.95) .2s;
}

.css-input-text:hover,
.css-input-text:focus {
  @apply border-green;
}

.css-btn .css-btn-left,
.css-btn .css-btn-right {
  position: relative;
  transition: right cubic-bezier(0.445, 0.05, 0.55, 0.95) .2s;
}

.css-btn .css-btn-left {
  right: .1rem;
}

.css-btn .css-btn-right {
  right: -.1rem;
}

.css-btn:hover {
  cursor: pointer;
}

.css-btn:hover .css-btn-left {
  right: .2rem;
}

.css-btn:hover .css-btn-right {
  right: -.2rem;
}
