/* Fonts */
/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/nunito-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Nunito Regular'), local('Nunito-Regular'),
    url('/fonts/nunito-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/fonts/nunito-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/nunito-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('/fonts/nunito-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/nunito-v14-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}

/* Transitions */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.trans-bgcolor {
  transition: background-color cubic-bezier(0.445, 0.05, 0.55, 0.95) .3s;
}

.trans-color {
  transition: color cubic-bezier(0.445, 0.05, 0.55, 0.95) .3s;
}

/* Links */
.hover\:aniline-blue,
.hover\:aniline-white {
  position: relative;
}

.hover\:aniline-blue::after,
.hover\:aniline-white::after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0.125rem;
  transition: width .3s;
}

.hover\:aniline-blue:hover::after,
.hover\:aniline-white:hover::after {
  width: 100%;
}

.hover\:aniline-blue::after {
  background: #4a9ec1;
}

.hover\:aniline-white::after {
  background: #fff;
}

/* Banner */
.banner, .banner > * {
  z-index: -1;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 16rem;
}

.banner:before {
  z-index: 1000;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 16rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9eaf2bb), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(-225deg, #4a9ec1bb 0%, #4a9ec133 100%);
}

@media (min-width: 640px) {
  .banner, .banner:before {
    height: 24rem;
  }
}

.squares {
  height: 100%;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.square {
  -webkit-animation: squares 9.5s linear infinite;
  animation: squares 9.5s linear infinite;
  align-self: flex-end;
  width: 1em;
  height: 1em;
  border-radius: .3em;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  background: #2a627a;
  -webkit-filter: blur(1px);
}

.square:nth-child(2) {
  height: 1.2em;
  width: 1.2em;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
  -webkit-filter: blur(5px);
}

.square:nth-child(3) {
  height: 1.3em;
  width: 1.3em;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-filter: blur(3px);
}

.square:nth-child(4) {
  height: 1.4em;
  width: 1.4em;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-filter: blur(3px);
  -webkit-animation-duration: 13s;
  animation-duration: 13s;
}

.square:nth-child(5) {
  height: 1.5em;
  width: 1.5em;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-filter: blur(2px);
  -webkit-animation-duration: 11s;
  animation-duration: 11s;
}

.square:nth-child(6) {
  height: 2.5em;
  width: 2.5em;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-filter: blur(3px);
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
}

.square:nth-child(7) {
  height: 4em;
  width: 4em;
  -webkit-filter: blur(2.5px);
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
}

.square:nth-child(8) {
  height: 3em;
  width: 3em;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-filter: blur(6px);
  -webkit-animation-duration: 18s;
  animation-duration: 18s;
}

.square:nth-child(9) {
  height: 2em;
  width: 2em;
  -webkit-filter: blur(3.5px);
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
}

.square:nth-child(9) {
  height: 2.4em;
  width: 2.4em;
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
  -webkit-filter: blur(2.5px);
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
}

@-webkit-keyframes squares {
  from {
    -webkit-transform: translateY(100%) rotate(-50deg);
    transform: translateY(100%) rotate(-50deg);
  }

  to {
    -webkit-transform: translateY(calc(-100vh + -100%)) rotate(20deg);
    transform: translateY(calc(-100vh + -100%)) rotate(20deg);
  }
}

@keyframes squares {
  from {
    -webkit-transform: translateY(100%) rotate(-50deg);
    transform: translateY(100%) rotate(-50deg);
  }

  to {
    -webkit-transform: translateY(calc(-100vh + -100%)) rotate(20deg);
    transform: translateY(calc(-100vh + -100%)) rotate(20deg);
  }
}
