<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{ partial "head.html" . }}

<body class="flex flex-col min-h-screen preload" onload="removePreload()">
    {{- partial "dev-size-indicator.html" . -}}
    {{- partial "header.html" . -}}
    <main class="flex flex-col items-center">
        {{- block "main" . }}{{- end }}
    </main>
    {{- partial "dev-parameters.html" . -}}
    {{- partial "footer.html" . -}}
    <script>
        function removePreload() {
            document.getElementsByClassName("preload")[0].classList.remove("preload");
        }
    </script>
</body>

</html>